.page-title{
    font-family: Satisfy;
    color:blue;
    font-size: 40px;
    padding:5px;
    margin:5px 0px 0px 0px;
}

.subTitle{
    font-family: 'Satisfy', cursive;
    padding: 5px;
    margin:0px;
    font-size: 13.5px;
}

#getStarted,#welcomeBack,#getStarted{
    font-family:"Comic Sans MS";
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

hr{
    border: 1px solid black ;
    width: 100%;
}

#buttonForSignIn{
    background-color:blue;
    font-family:Itim;
    font-size: 20px;
    color:white;
    padding: 12px 12px 10px 10px;
    margin: 4px;
    border: 1px solid grey;
    width: 120px;
    cursor: pointer;
}

#buttonForSignUp{
    background-color:blue;
    font-family:Itim;
    font-size: 20px;
    color:white;
    padding: 12px 12px 10px 10px;
    margin: 4px 10px 4px 4px;
    border: 1px solid grey;
    width: 120px;
    cursor: pointer;
}

input::placeholder{
    font-family:Itim;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,text{ 
    padding: 2%; 
    background-color: lightgray; 
    border: none; 
    height: 30px;  
} 
label{
    padding-top: 10px;
    font-weight: bolder;
    margin: 10px 0;
    font-family: sans-serif;
}

@media(max-width:400px){
    form{
        width: 80%;
    }
}

.signbuttons{
    margin-top: 5px;
    font-size: 8pt;
    position:absolute;
    top:0;
    right:0;

}

.submit-btn{
    background-color: green;
    color:white;
    padding: 4%;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
    border: 0;
    cursor:pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#signUpContent,#signInContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#noMember{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000;
}

a{
    color:blue;
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    float: right;
    top:-25px;
    right:-10px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
